[submodule "themes/sustain"]
	path = themes/sustain
	url = https://github.com/nurlansu/hugo-sustain.git
[submodule "themes/introduction"]
	path = themes/introduction
	url = https://github.com/victoriadrake/hugo-theme-introduction.git
