{{ define "main" }}
<!-- Header -->
{{ partial "header" . }}

<div class="resume container">
  <section id="resume">
    <section id="header">
      <h1>Micah Mount</h1>
      <p>
        Bellingham, WA | 
        <a href="https://github.com/micahmount" target="_blank">GitHub</a> | 
        <a href="https://linkedin.com/in/micahmount" target="_blank">LinkedIn</a> |  
        <a href="mailto:me@micahmount.com?subject=Mail from portfolio site">Email</a>
      </p>
    </section>
    <!---END HEADER-->
    <section id="strengths">
      <h2>Strengths</h2>
      <ul>
        <li>
          CliftonStrengths Assessment:
          <a
            href="https://www.gallup.com/cliftonstrengths/en/252284/intellection-theme.aspx"
            target="_blank"
            >Intellection |
          </a>
          <a
            href="https://www.gallup.com/cliftonstrengths/en/252320/responsibility-theme.aspx"
            target="_blank"
            >Responsibility |
          </a>
          <a
            href="https://www.gallup.com/cliftonstrengths/en/252323/restorative-theme.aspx"
            target="_blank"
          >
            Restorative |
          </a>
          <a
            href="https://www.gallup.com/cliftonstrengths/en/252197/connectedness-theme.aspx"
            target="_blank"
            >Connectedness |
          </a>
          <a
            href="https://www.gallup.com/cliftonstrengths/en/252293/learner-theme.aspx"
            target="_blank"
            >Learner</a
          >
        </li>
        <li>
          Javascript, Typescript and most modern JS frameworks, esp. React, with a focus on
          maintainable, reusable components
        </li>
        <li>
          Mobile first paradigm with an appreciation for modern design and an
          affinity for collaboration with design team
        </li>
        <li>
          Effectively communicates complex technical topics; clearly scoping
          conversation for medium and audience
        </li>
        <li>
          Self starter who enjoys collaborating with peers asynchronously in a remote first environment using
          tools such as Slack, Jira, Git, and VS Code.
        </li>
        <li>
          10 year background in technical support leading to a facilitative,
          collaborative approach
        </li>
        <li>On a personal note: husband, father, avid backpacker and sailor</li>
      </ul>
    </section>
    <!---END STRENGTHS-->
    <section id="skills">
      <h2>Skills</h2>
      <div class="column">
        <ul>
          <li><span style="font-weight: bold">M</span>ongoDB</li>
          <li><span style="font-weight: bold">E</span>xpress</li>
          <li><span style="font-weight: bold">R</span>eact</li>
          <li><span style="font-weight: bold">N</span>ode</li>
        </ul>
        <ul>
          <li>Python</li>
          <li>Typescript</li>
          <li>Git</li>
          <li>React Native</li>
        </ul>
        <ul>
          <li>CI/CD</li>
          <li>Nginx administration</li>
          <li>Linux system administration</li>
          <li>Debian application packaging & distribution</li>
        </ul>
      </div>
    </section>
    <!---END SKILLS-->
    <section id="experience">
      <h2>Experience</h2>
      <div>
        <h3>Quality Assurance Engineer</h3>
        <h4><a href="https://density.io" target="_blank">Density, Inc.</a>, December 2022 - present</h4>
        <p>
          As a core member of Density's four person QA team; I'm extremely proud of all that we accomplished over the past two years. When I arrived our QA departement was nonexistent. Together we've built a strong program from the ground up.
        </p>
        <p>
           We created processes, tools and automations to effectively provide QA service to 75% of company initiatives. These services have spanned hardware validation and qualification, embedded systems regression testing, unit, usability and API testing for internal tools, public API testing and validation, and perhaps most importantly, product review, analysis and qualification which directly lead to a 25% performance increase of our core product.
        </p>
        <p>
          My most significant personal contributions came from using python to create automation that allowed our small team to leverage our resources to provide such extensive coverage.
        </p>
      </div>
      <div>
        <h3>Freelance Software Engineer</h3>
        <h4><a href="https://mountventures.com" target="_blank">Mount Ventures</a>, August 2019 - December 2022</h4>
        <p>
          Custom Admin Dashboard which sets up and manages "wellness challenges"
          that happen via the customer's React Native Mobile app. Stack: React,
          Node, Express, Postgres
        </p>
        <p>
          Joined Quick Draw Development as a contractor. My first project as
          part of the team was to relaunch
          <a href="https://quickdrawdevelopment.com" target="_blank">the company's site</a>.
          Stack: React, Next, MySQL.
        </p>
        <p>
          Another project with Quick Draw: Add additional functionality to a
          fully custom web app for one of their largest clients. Stack: React,
          Next,MySQL.
        </p>
        <p>
          Build administrate, and host several Wordpress sites for customers.
          I'm most proud of
          <a href="https://seedsandstalks.com" target="_blank">Seeds And Stalks</a>.
        </p>
      </div>
      <div>
        <h3>Full Stack Web and Mobile Developer</h3>
        <h4><a href="https://www.nucamp.co/">NuCamp Coding Bootcamp</a>, February 2019 - August 2019</h4>
        <p>
          I graduated from their <a href="https://www.nucamp.co/bootcamp-overview/full-stack-web-mobile-development" target="_blank">most rigorous program</a> at the top of my cohort.
        </p>
      </div>
      <div>
        <h3>Support Team Lead</h3>
        <h4><a href="https://gokidpower.org" target="_blank">UNICEF Kid Power</a>, July 2018 - December 2022</h4>
        <p>
          Lead the Technical and Customer Service teams for
          <a href="https://gokidpower.org/" target="_blank">UNICEF Kid Power</a>. See
          <a
            href="https://docs.google.com/document/d/1XnQRPIwYU1X3U-NUlhAUj5ZdLDKZWG9s-8HXi4DwNqs/edit?usp=sharing"
            >Scope of Work</a
          >
          document for full roll description.
        </p>
        <p>
          UNICEF Kid Power offered me a position as an independent contractor
          due to my outstanding performance and ability to meet SLAs.
        </p>
      </div>
      <div>
        <h3>Support Team Lead</h3>
        <h4><a href="https://activeforgood.com" target="_blank">Active For Good</a>, January 2016 - July 2018</h4>
        <p>
          Lead the Technical and Customer Service teams at
          <a href="https://activeforgood.com">Active For Good</a>
        </p>
        <p>
          By poviding excellent customer service, I helped empower others to
          save lives while getting active. See Anderson Cooper's
          <a href="https://www.linkedin.com/in/micahmount/detail/treasury/position:788987701/?entityUrn=urn%3Ali%3Afs_treasuryMedia%3A(ACoAAAEP75ABLoi6h6VpbvWv4zyilQvFuVK-92Y%2C1528698538535)&section=position%3A788987701&treasuryCount=1&lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base%3B9dtF96mCQqe4Dl%2FMhDtFBQ%3D%3D&licu=urn%3Ali%3Acontrol%3Ad_flagship3_profile_view_base-treasury_thumbnail_cell"
            >excellent video</a> about RUTF
        </p>
      </div>
    </section>
    <!---END EXPERIENCE-->
    <section id="education">
      <h2>Education</h2>
      <div class="olumn">
        <h3>Fuller Theological Seminary</h3>
        <p>M.Div - partially completed</p>
      </div>
      <div class="column">
        <h3>NuCamp Software Development Bootcamp</h3>
        <p><a href="https://www.nucamp.co/bootcamp-overview/full-stack-web-mobile-development">Full Stack & Mobile Developer track</a></p>
      </div>
      <div class="column">
        <h3>Vanguard University of Southern California</h3>
        <p>B.A., Business Administration</p>
      </div>
    </section>
    <!---END EDUCATION-->
  </section>
</div>
{{ end }}
