{{ define "main" }}
<!-- Header -->
{{ partial "header" . }}
  <section class="projects container">
    <h4 class="my-5">{{ .Site.Data.projects.name }}</h4>
    <div class="panel">
      <div class="panel-body">
        {{ range $el := .Site.Data.projects.source }}
        <div class="project">
          <div class="img">
          <a href="{{ .url }}" target="_blank"><img src="{{ .img }}"></img></a></div>
          <div class="content">
            <h5>
            <i class="{{ .icon }}"></i>&nbsp;&nbsp;
            <b><a href="{{ .url }}" target="_blank">{{ $el.name }}</a></b
            >&nbsp;-&nbsp;{{ $el.description | markdownify }}
          </h5>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </section>
{{ end }}
