{{ define "main" }}
<!-- Header -->
{{ partial "header" . }}

<div class="container">
  <section id="resume">
    <div id=header>
      <h1>Micah Mount</h1>
      <p>Bellingham, WA | (360) 510-6450 | <a href="mailto:me@micahmount.com?subject=Mail from portfolio site">me@micahmount.com</a> | <a href="https://linkedin.com/in/micahmount" target="_blank">linkedin.com/in/micahmount</a></p>
    </div>
    <div id="strengths">
      <h2>Strengths</h2>
      <ul>
        <li>CliftonStrengths Assessment: 
          <a href="https://www.gallup.com/cliftonstrengths/en/252284/intellection-theme.aspx" target="_blank">Intellection | </a>
          <a href="https://www.gallup.com/cliftonstrengths/en/252320/responsibility-theme.aspx" target="_blank">Responsibility | </a>
          <a href="https://www.gallup.com/cliftonstrengths/en/252323/restorative-theme.aspx" target="_blank"> Restorative | </a>
          <a href="https://www.gallup.com/cliftonstrengths/en/252197/connectedness-theme.aspx" target="_blank">Connectedness | </a>
          <a href="https://www.gallup.com/cliftonstrengths/en/252293/learner-theme.aspx" target="_blank">Learner</a>
        </li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </section>
</div>
{{ end }}
